.cart-container{
padding:30px;
}

.cart-title{
  font-size: 40px;
  text-align: center;
 margin-bottom: 30px; 
}

.cart-go{
  display:flex;
  justify-content: space-between;
  padding:0 30px;
  margin-bottom: 30px;
}

.cart-gomain{
padding:10px;
background-color: white;
border:3px solid black;
font-size: 15px;
cursor: pointer;
box-sizing: border-box;
}

.cart-checking{
  padding:10px;
background-color: black;
border:3px solid black;
color:white;
font-size: 15px;
cursor:pointer;
}

.cart-main{
  display:flex;

}

.cart-left{
  height:72vh;
/* background-color: tomato; */
width:70%;
overflow-y: scroll;
}

.cart-left::-webkit-scrollbar{
  width:10px;
}

.cart-left::-webkit-scrollbar-thumb{
border-radius: 10px;
background-color: rgba(184, 184, 184, 0.603);
}

.cart-check-title{
  font-size: 40px;
  margin-bottom: 50px;
}




.cart-right{
  display:flex;
  flex-direction: column;
  justify-content: center;
width:30%;
border-radius: 10px;
border:2px solid rgb(209, 209, 209);
padding:40px 20px;
}

.cart-check-cost{
  display:flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 35px;
}

.cart-check-total{
  display:flex;
  justify-content: space-between;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 40px;
}

.cart-checkout{
  width:100%;
  font-size: 20px;
  padding:15px 0;
  color:white;
  background-color: black;
  border-radius: 4px;
  border:none;
  cursor: pointer;
}

@media screen and (max-width:415px) {
.cart-go{
  padding:0; 
  margin-bottom: 20px;
}

.cart-gomain,.cart-checking{
  font-size: 10px;
}
.cart-main{
  flex-direction: column;
}

.cart-left{
  width:100%;
  padding:0;
  height:25vh;
  margin-bottom: 20px;
}

.cart-right{
  width:100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cart-check-title{
  font-size: 35px;
  margin-bottom: 35px;
}

.cart-check-total{
  font-size: 30px;
  margin-bottom: 30px;
}
}