.mail{
    width:100vw;
}

.mail-container{
    background-color: rgb(209, 238, 221);
    /* height:55vh; */
    height:100%;
    padding: 60px 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mail-title{
    margin:0;
    font-size: 90px;
}

.mail-sub{
    margin:30px 0;
    font-size: 20px;
    font-weight: bold;
}

.mail-search{
    display:flex;
    border:1px solid rgba(150, 150, 150, 0.664);
}

.mail-input{
    padding: 0 20px;
    border:none;
    width:500px;
    font-size: 20px;

}

.mail-input:focus{
    outline: none;
}



.mail-button{
    width:60px;
    height:40px;
    border:none;
    background-color: cadetblue;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 20px;
}

@media screen and (max-width:415px) {
    .mail-container{
padding:20px 0;
    }

    .mail-title{
        font-size: 45px;
    }

    .mail-sub{
        font-size: 15px;
    }

    .mail-input{
        width:250px;
    }

    .mail-button{
        height:30px;
        width:50px;
    }
}
